@import "../../button.scss";
@import "../../colors.scss";
@import "../../fontSizes.scss";
@import "../../responsive.scss";

.draftSim {}
.boosterPack {}

.header {
    @include sub-header-font-size;
    margin-bottom: 16px;

    small {
        @include sub-font-size;
        color: $color-1-light;
    }
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > div {
        margin-bottom: 1rem;
        @include responsive(margin-bottom, 0.5rem, 0.5rem, 0.5rem, 1rem);
    }
}

.toggleAiPicksButtonContainer {
    text-align: center;
}

.button {
    @include button;
    padding: 0.5rem 1rem;
    margin: 0.15rem 0.15rem;
}