@import "../responsive.scss";
@import "./cssReset.scss";
@import "../fontSizes.scss";
@import "../colors.scss";

html {
    @include default-font-size;
    font-family: Roboto, Arial, sans-serif;
    background-color: $color-2;
    color: $color-1;
}

.layout-page-container {
    @include responsive(width, 100%, $medium-container-width, $large-container-width, $huge-container-width);
    @include responsive (margin, 0, 0 auto);

    &.thin {
        max-width: $medium-container-width;
    }
}