@import "../responsive.scss";
@import "./cssReset.scss";
@import "../fontSizes.scss";

html {
    @include default-font-size;
    font-family: Roboto, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.layout-page-container {
    @include responsive(width, 100%, $medium-container-width, $large-container-width, $huge-container-width);
    @include responsive (margin, 0, 0 auto);
    @include breakpoint(small) {
        padding-left: 16px;
        padding-right: 16px;
    }
}