@import "../../colors.scss";
@import "../../fontSizes.scss";
@import "../../responsive.scss";

.header {
    @include title-font-size;
    position: relative;
    width: 100%;
    background-color: $color-1;
    height: 2em;
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    @include responsive(opacity, 0.4, 0.5);

    > * {
        @include responsive(transform, translateY(-40%), translateY(-41%), translateY(-42%), translateY(-43%));
    }
}

.container {
    @include responsive(width, 100%, $medium-container-width, $large-container-width, $huge-container-width);
    @include responsive(padding, 1rem, 1rem, 0);
    position: relative;
}

.homeLink {
    text-decoration: none;
    color: $color-2;

    display: inline-flex;
    align-items: center;
}

.headerIcon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}