$medium-container-width: 768px;
$large-container-width: 960px;
$huge-container-width: 1280px;

@mixin breakpoint($class) {
    @if $class == small {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $class == medium {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $class == large {
        @media (min-width: 960px) {
            @content;
        }
    } @else if $class == huge {
        @media (min-width: 1280px) {
            @content;
        }
    } @else {
        @warn "Breakpoint mixin supports: small, medium, large, huge";
    }
}

@mixin responsive($property, $small, $medium, $large: $medium, $huge: $large) {
    @include breakpoint(small) {
        #{$property}: $small;
    }
    @include breakpoint(medium) {
        #{$property}: $medium;
    }
    @include breakpoint(large) {
        #{$property}: $large;
    }
    @include breakpoint(huge) {
        #{$property}: $huge;
    }
}
