@import "../button.scss";

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.button {
    @include button;
    padding: 0.5rem 1rem;
    margin: 0.15rem 0.15rem;

    &.selected {
        background-color: darken($color-2, 10%);
    }
}